{% extends "_layout.html" %}

{% block titulo %}Nuevo empleado{% endblock %}

{% block contenido %}
<div class="container">
    <form method="POST">
        <div class="form-group row">
            <label for="employee_id" class="col-2 col-form-label">Id Empleado</label>
            <div class="col-2">
                <input class="form-control" id="employee_id">
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-2 col-form-label">Nombre</label>
            <div class="col-4">
                <input class="form-control" id="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-2 col-form-label">Edad</label>
            <div class="col-2">
                <input class="form-control" id="age">
            </div>
        </div>
        <div class="form-group row">
            <label for="position" class="col-2 col-form-label">Puesto</label>
            <div class="col-4">
                <input class="form-control" id="position">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input class="btn btn-primary" type="submit" value="Agregar empleado">
            </div>
            <div class="col-3">
                <input class="btn btn-secondary" type="reset" value="Restablecer formulario">
            </div>
        </div>
    </form>
</div>
{% endblock %}