<div class="form-group row">
    <label for="employee_id" class="col-2 col-form-label">Id Empleado</label>
    <div class="col-2">
        <input class="form-control" id="employee_id" name="employee_id" value="{{empleado.employee_id}}">
    </div>
</div>
<div class="form-group row">
    <label for="name" class="col-2 col-form-label">Nombre</label>
    <div class="col-4">
        <input class="form-control" id="name" name="name" value="{{empleado.name}}">
    </div>
</div>
<div class="form-group row">
    <label for="age" class="col-2 col-form-label">Edad</label>
    <div class="col-2">
        <input class="form-control" id="age" name="age" value="{{empleado.age}}">
    </div>
</div>
<div class="form-group row">
    <label for="position" class="col-2 col-form-label">Puesto</label>
    <div class="col-4">
        <input class="form-control" id="position" name="position" value="{{empleado.position}}">
    </div>
</div>
<div class="form-group row">
    <label for="fechaingreso" class="col-2 col-form-label">Fecha Ingreso</label>
    <div class="col-4">
        <input class="form-control" id="fechaingreso" name="fechaingreso" value="{{empleado.fechaingreso}}" type="date">
    </div>
</div>
