{% extends "_layout.html" %}

{% block titulo %}Nuevo empleado{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <h4>Nuevo empleado</h4>
    </div>
    <form method="POST">
        {% include "empleados/formulario.html" %}
        <div class="row">
            <div class="col-3">
                <input class="btn btn-primary" type="submit" value="Agregar empleado">
            </div>
            <div class="col-3">
                <input class="btn btn-secondary" type="reset" value="Restablecer formulario">
            </div>
        </div>
    </form>
</div>
{% endblock %}